

body {background-color: azure;}
h1 {
	font-family: sans-serif;
	font-style: italic;
	text-align: center;
	margin-bottom: 5%;}

section#chickmenu {
		border: solid;
		border-color: black;
		border-width: 0.1em;
		background-color: #cce6ff;
		}

section#beefmenu {
			border: solid;
			border-color: black;
			border-width: 0.1em;
			background-color: #cce6ff;
			}

section#sushimenu {
	border: solid;
	border-color: black;
	border-width: 0.1em;
	background-color: #cce6ff;
	}

#chicken {width: 30%;
	margin-top:0%;
	background-color: #ffd9b3;
		float: right;
		font-family: sans-serif;
		font-style: bold;
		text-align: center;
		border-left: solid;
		border-bottom: solid;
		border-top: none;
		border-right: none;
		border-color: black;
		border-width: 0.1em;}

#beef {width: 30%;
	margin-top:0%;
	background-color: #ff8080;
		float: right;
	font-family: sans-serif;
	font-style: bold;
	text-align: center;
	border-left: solid;
		border-bottom: solid;
		border-top: none;
		border-right: none;
	border-color: black;
	border-width: 0.1em;}

#sushi {width: 30%;
	margin-top:0%;
	background-color: #fe9650;
		float: right;
	font-family: sans-serif;
	font-style: bold;
	text-align: center;
	border-left: solid;
		border-bottom: solid;
		border-top: none;
		border-right: none;
	border-color: black;
	border-width: 0.1em;}
p {font-family: sans-serif;
font-style: bold;
margin: 10%;}


/*large screen*/
@media (min-width: 992px) {
	section#chickmenu {width: 30%; height: 30%;
	margin-left: 2%; margin-bottom: 2%; float: left;}
	section#beefmenu {width: 30%; height: 30%;
	margin-left: 2%; margin-bottom: 2%; float: left;}
	section#sushimenu{width: 30%; height: 30%;
	margin-left: 2%; float: left;}
}

/*tablet*/
@media (min-width: 768px) and (max-width: 991px) {
	section#chickmenu {width: 45%; height: 20%;
	margin-left: 2%; margin-bottom: 2%; float: left;} 
	section#beefmenu {width: 45%; height: 20%;
		margin-left: 2%; margin-bottom: 2%; float: left;} 
	section#sushimenu {width: 95%; height: 20%;
			margin-left: 2%; margin-right: 2%;  clear: both;}
	}

/*phone*/
@media (max-width: 767px) {
	section#chickmenu {width: 95%; height: 20%;
	margin-left: 2%; margin-bottom: 2%;} 
	section#beefmenu {width: 95%; height: 20%;
		margin-left: 2%; margin-bottom: 2%;} 
	section#sushimenu {width: 95%; height: 20%;
			margin-left: 2%; margin-right: 2%;}
	}